
.header__container{
    display: flex ;
    justify-content: center;
}
.header__box{
    width: 270px;
    height: 165px;
    background:#AAF683;

}
.header__box2{
    width: 1105px;
    height: 165px;
    background-color:#60D394 ;

    }    
.container{
    display: flex;
    justify-content: center;
}

.navbar__container{
    width: 1260px;
    height: 96px;
    display: flex;
    justify-content:flex-start;
    padding: 26px 59px;
    background-color: #FF9B85;
}
.navbar__list{
    display: flex;
    gap: 30px;
    color: #eae2b7;
}
.navbar__link{
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    color:#eae2b7;
}
.article__title{
    display: grid;
    justify-content: center;
    font-size: 64px;
    font-weight: 700px;
    color:#EE6055;
}
.card__container1{
    display:flex ;
    justify-content:center;
    flex-wrap: wrap;
    gap: 212px;
    margin: 26px 59px
}
.card{
    width: 288px;
    height: 291px;
    background: #60D394;
}
.card__row{
    display: flex;
    flex-wrap: wrap;
    gap: 212px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.article__container{
    background-color: #AAF683;
    margin: 26px 59px
}
.about__container{
    justify-content:center ;
    background-color: #60D394;
    height: 500px;
    margin: 26px 59px;
}
.about__title{
    display: grid;
    justify-content: center;
    font-size: 64px;
    font-weight: 700px;
    color: whitesmoke;
}
.text{
    color: whitesmoke;
    font-weight: 700px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin: 26px 59px;
}
.services__container{
    display: grid;
    justify-content: center;
    background-color: #FF9B85;
    margin: 26px 59px;
}
.services__title{
    display: grid;
    justify-content: center;
    font-size: 64px;
    font-weight: 700px;
    color:#FFD97D;
}
.contact__container{
    display: grid;
    justify-content: flex-end;
    padding-right: 400px;
    background-color: #FFD97D;
    margin: 26px 59px ;
}
.contact__title{
    display: grid;
    justify-content: center;
    font-size: 64px;
    font-weight: 700px;
    color:#501E1F;
}
.contact__box1{
    display: grid;
    justify-content: flex-end;
    margin-top: 36px;
}
.send__button{
    width: 95px;
    height: 58px;
    justify-content: flex-end;
    background-color: #f4a261;

}
.form-control{
    display: grid;
    background-color: #f4a261;
    width: 381px;
    height:50px ; 
    color: white;
}
.form-control1{
    display: grid;
    background-color: #f4a261;
    width: 381px;
    height:157px;
    
}
.form-label{
    width: 50px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

}
.footer{
    background-color:#EE6055;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
    height: 110px;
    margin: 26px 59px;
}